<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/product.css">
    <script src="https://kit.fontawesome.com/e666ffac4e.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>

<header>
    <!--header principal: logo, user, carito-->
    <div class="header-container">
        <a href="http://localhost:3600/" id="logo">STAR PHONE</a>
        
        <form class="search-flex"  action="/buscar" method="POST">
        
            <input class="search" type="text" name="buscar" placeholder="Buscar...">
            <button class="boton" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>

        <ul class="nav-principal">
            <li>
                <a href="http://localhost:3600/carrito"><img id="carrito" src="/img/carrito.png"><span class="micarrito">Mi carrito</span></a>
            </li>
            <li>
                <a href="http://localhost:3600/register"><i class="fa-regular fa-circle-user"></i><p class="ingresar">Ingresar</p></a>
            </li>
        </ul>
    </div>
<!--barra de navegacion-->
    <nav class="barra-navegacion">
        <ul class="barra-i">
            <li><a href="@">Productos</a></li>
            <li><a href="@">Beneficios</a></li>
            <li><a href="@">Seguimiento</a></li>
            <li><a href="http://localhost:3600/ayuda">Ayuda</a></li>
        </ul>
        <a href="#" class="burger-menu">
            <i class="fas fa-bars"></i>
        </a>
    </nav>

    <div class="conteiner">
        <img src="/img/PCG-1.png" alt="imgan1">
 
        <div class="descripcion">
             <div class="producto">
                 <h3>
                    Samsung Galaxy S23 Ultra 12gb 256gb Cream</h3>
                 <h3>12gb 256gb Cream</h3>
             </div>
             <h3>Precio actual: $456.000</h3>
             <br> </br>
             <h3>Descripcion:</h3>
             <p>con una magnífica cámara de 200 MP para capturar todos los momentos de día</p>
             <p>Escribe, dibuja y crea con el S-pen integrado. Fabricado con materiales ecológicos y sostenibles</p>
             <p>y cuenta con un poderoso procesamiento, una pantalla adaptativa automática de 6.8 pulgadas y una batería que dura todo el día</p>
             <br></br>
             <div class="boton-padre">
                 <label>
                     <button  class="boton-pa" type="submit"><a href="http://localhost:3600/carrito" class="btn">agregar al carrito</a></button>
                 </label>
                 <button  class="boton-pa" type="submit"><a href="http://localhost:3600/compra"  class="btn1">comprar</a></button>
                 </label>
 
             </div>
        </div>
        
     </div>
     <main>
        <header>
            <br></br>
            <br></br>
            <h2>Mas productos</h2>
            <hr class="linea-horizontal">
            <br></br>
            <section class="flex-container">
                    <article class="articulo">
                        <a href="http://localhost:3600/product"> <img class="imagenes" src="img/PCG1.png" alt="Imagen 1"></a>
                        <div class="nombre-producto">Samsung M23</div>
                        <div class="precio-producto">$256.000</div>
                    </article>
        
    
                    <article class="articulo">
                        <img class="imagenes" src="/img/PCG-2.png" alt="Imagen 2">
                        <div class="nombre-producto">Auriculares samsung</div>
                        <div class="precio-producto">$45.000</div>
                    </article>
          
    
                    <article class="articulo">
                        <img class="imagenes" src="img/producto-3.png" alt="Imagen 3">
                        <div class="nombre-producto">Iphone 13 pro
                        </div>
                        <div class="precio-producto">$559.999</div>
                    </article>
               
    
                    <article class="articulo">
                        <img class="imagenes" src="img/producto-4.png" alt="Imagen 4">
                        <div class="nombre-producto">Xiaomi Mi 11s</div>
                        <div class="precio-producto">$200.000</div>
                    </article>
            
            </section>
            <hr class="linea-horizontal">
          <h3 class="desc">
            <br>
            <p>Caracteristicas</p>
            <p>Cargar con el peso de querer ser el mejor Android del año en pleno mes de febrero no es una tarea sencilla. Samsung presentó el pasado 1 de febrero su Galaxy S23 Ultra, una evolución continuista que rompe con una tradición de cambios bastantes notables en el diseño trasero y hoja técnica. Este es un año de refinamiento, de dejar lo que funcionaba y tratar de pulir puntos débiles.

                Una fórmula arriesgada para un dispositivo que incrementa su factura final en 150 euros, y que tiene como principales argumentos una nueva cámara de 200 megapíxeles y un procesador que llevábamos tiempo esperando. Si será esto suficiente o no para ser el mejor teléfono del momento lo comprobaremos a lo largo de este análisis. Un pequeño adelanto: a veces, menos es más.</p>
          </h3>
          <br></br>
          <br></br>
          <br></br>
        </header>
     </main>